<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MojcasSpace/portfolio/TemporaryModularUnit</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <script src="/assets/js/jquery-1.11.2.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
</head>

<body>

<!--NAVBAR-->
    <header class="page-row">
        <div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
            <div class="container">
                <div class="navbar-brand logo-container"><a href="/"><img class="img-responsive logo-custom" alt="MojcasSpace" src="/assets/pictures/logo_b.png"></a></div>

                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse navHeaderCollapse">
                    <ul class="nav navbar-nav navbar-right navbar-text nav-fade">
                        <li><a href="/">Home</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/cv">CV</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </header>

<!--GALLERY-->

    <div class="container portfoliotitlefirst ptitle">
        <p class="pnaslov">TEMPORARY MODULAR UNIT IN CASE OF NATURAL DISASTER</p>
    </div>

    <div class="container ptitle">
        <p class="ppodnaslov">Diploma; Final Thesis</p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-6 ena">
                <p>In times of climate change and ever more frequent natural disasters it is important that we are well prepared for
                    such extreme events. Current evacuation plans include housing people in tents, trailers and containers, which are not
                    suitable for all weather and climate conditions, or are too big for optimal storage. The purpose of this thesis is to
                    find the best possible solution for all these problems. A temporary modular unit has to be small enough for optimal storage
                    and transportation, at the same time it has to be suitable for use in any season in Slovenia. It may happen, that people
                    have to stay in temporary camps for a longer period of time. That is why the goal of designing this unit is to offer the
                    user the most comfortable stay possible. Because of its modularity, the unit is suitable for different types of
                    households, so it does not focus on a typical four member family. Elements of the modular construction system of the
                    company Trimo are used in the design of the unit. This system has pre-planned and inbuilt installations, so we can easily
                    integrate the unit in a temporary camp that already has a local source of energy.</p>
            </div>

            <div class="col-sm-6 dva">
                <img  class="img-responsive" src="/assets/pictures/CD_diploma/DiplomaPrimeri.jpg" alt="Temporary solution examples">
            </div>

        </div>

    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-6 ena">
                <img  class="img-responsive" src="/assets/pictures/CD_diploma/DiplomaKoncept1.jpg" alt="Concept process">
            </div>

            <div class="col-sm-6 dva">
                <p>Due to the diverse composition of residential communities, I wanted to adapt the modular units to as many users as
                    possible. By adding modules to basic structures, we can gain space for more people. By doing so, families and communities
                    that are accustomed to living in the same household, do not have to be separated in difficult situations.</p>
                <br>
                <p>For inspiration I started to play with playdough and came up with an idea of cubuses that can be put together regarding the need.
                I wanted to design something simple and functional, yet attractive.</p>
                <br>
                <p>Each base unit is meant for two people and consists of three modules. The internal dimensions of the module are 220 cm x 220 cm.
                A set of three modules consists of an entrance hall with a small kitchen, a living room and a bedroom for two people.
                The basic modules can be placed in two ways, one in the form of a letter I, the other in the shape of a letter L. We can add
                up to two modules on each basis. Those modules are identical sleeping departments as the one in the base.
                An additional spatial unit can be added to the same level, one floor higher or both. That gives us the option for a unit for a maximum
                of two, four or six pople.</p>
                <br>
                <p>I used company Trimo's modular system to design my units. Each module consists of a load-bearing steel structure of the
                    floor, which is welded in one piece. This consists of angular projections and interfaces on the edges. On all four edges,
                    the battens are made of bent steel. The pillars on the upper part are screwed into the supporting structure of the roof,
                    which is very similar to the construction of the floor and is also in one piece.</p>
            </div>

        </div>

    </div>

    <div class="container galleryopis">
        <p>The unit allows illumination with natural light. At each of the rooms, at least half of one wall is glazed over the entire length of
            the panel. Shading is arranged with sliding panels from sheet metal on the outside. Besides shading, the panels allow privacy,
            since they obscure the view from the outside. Since all materials are flexible - steel construction, sheet metal on the outside of
            the walls and sliding panels - the colors of a single unit can be unified. That way the unit, especially with cladding panels,
            looks like a tetris cube at first glance. Vivid colors and shapes bring an optimistic touch to the crowded settlement.</p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-12 ena">
                <img  class="img-responsive" src="/assets/pictures/CD_diploma/DiplomaKoncept2.jpg" alt="Concept process">
            </div>

        </div>

    </div>

    <div class="container galleryopis">
        <p>The unit allows illumination with natural light. At each of the rooms, at least half of one wall is glazed over the entire length of
            the panel. Shading is arranged with sliding panels from sheet metal on the outside. Besides shading, the panels allow privacy, since
            they obscure the view from the outside. Since all materials are flexible - steel construction, sheet metal on the outside of the walls
            and sliding panels - the colors of a single unit can be unified. That way the unit, especially with cladding panels, looks like a tetris
            cube at first glance. Vivid colors and shapes bring an optimistic touch to the crowded settlement.</p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-12 ena">
                <img  class="img-responsive" src="/assets/pictures/CD_diploma/DiplomaKoncept3.jpg" alt="Concept process">
            </div>

        </div>

    </div>

    <div class="container galleryopis">
        <p>Below I showed a view onto the facade from front, right, back and left side. All of the views are a sample from basic unit I with
            2 additional modules.</p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-12 ena">
                <img  class="img-responsive" src="/assets/pictures/CD_diploma/DiplomaFasade.jpg" alt="Fasades">
            </div>

        </div>

    </div>

    <div class="container galleryopis">
        <p>The unit's floors are covered with a PVC floor covering as the material is light to transport and has economic and hygienic
            properties. To make the unit more homey, we can select a pattern that imitates a warm floor. Walls are covered with a sheet
            metal or chipboard. Small kitchen has a cooker with two plates and a small sink.</p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-12 ena">
                <img  class="img-responsive" src="/assets/pictures/CD_diploma/DiplomaTlorisiPogledi.jpg" alt="Blueprints, frontal views">
            </div>

        </div>

    </div>

    <div class="container galleryopis">
        <p>In the pictures below are some close-ups of a model:</p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-12 ena">
                <img  class="img-responsive" src="/assets/pictures/CD_diploma/DiplomaMakete.jpg" alt="Wooden model">
            </div>

        </div>

    </div>

    <div class="container galleryopis">
        <p>I put the unit in different surroundings to show it's flexibility. </p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-6 ena">
                <img  class="img-responsive" src="/assets/pictures/CD_diploma/DiplomaFoto1.jpg" alt="Perspective 1">
            </div>

            <div class="col-sm-6 dva">
                <img  class="img-responsive" src="/assets/pictures/CD_diploma/DiplomaFoto2.jpg" alt="Perspective 2">
            </div>

        </div>

        <div class="row row2">

            <div class="col-sm-6 ena">
                <img  class="img-responsive" src="/assets/pictures/CD_diploma/DiplomaFoto3.jpg" alt="Perspective 4">
            </div>

            <div class="col-sm-6 dva">
                <img  class="img-responsive" src="/assets/pictures/CD_diploma/DiplomaFoto4.gif" alt="Perspective 5">
            </div>

        </div>

    </div>

    <div class="container backbutton">
        <div class="row">
            <div class="col-sm-5">
            </div>
            <div class="col-xs-1 ena">
                <button type="button" class="btn btn-default btn-md"><a href="/portfolio">Back</a> </button>
            </div>
            <div class="col-xs-1 dva">
                <button type="button" class="btn btn-default btn-md"><a href="/diploma">Top</a> </button>
            </div>
        </div>
    </div>

<!--FOOTER-->
    <footer class="page-row">
        <div class="navbar navbar-default footer-custom">
            <p class="pull-left navbar-sign">designed by: Mojca Franic</p>

            <div align="right" class="icon container">
                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-3">
                        <a href="https://uk.linkedin.com/in/mojcafranic" target="_blank"><img src="/assets/pictures/linkedin.png"></a>
                        </div>
                        <div class="col-sm-3">
                        <a href="https://github.com/MojcaFranic" target="_blank"><img src="/assets/pictures/github.png"></a>
                        </div>
                        <div class="col-sm-3">
                        <a href="https://www.instagram.com/mojcaf/" target="_blank"><img src="/assets/pictures/instagram.png"></a>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </footer>


</body>

</html>