<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MojcasSpace/portfolio/GraphicDesign</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <script src="/assets/js/jquery-1.11.2.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
</head>

<body>

<!--NAVBAR-->
    <header class="page-row">
        <div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
            <div class="container">
                <div class="navbar-brand logo-container"><a href="/"><img class="img-responsive logo-custom" alt="MojcasSpace" src="/assets/pictures/logo_b.png"></a></div>

                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse navHeaderCollapse">
                    <ul class="nav navbar-nav navbar-right navbar-text nav-fade">
                        <li><a href="/">Home</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/cv">CV</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </header>

<!--GALLERY-->

    <div class="container portfoliotitlefirst ptitle">
        <p class="pnaslov">IUStart</p>
    </div>

    <div class="container ptitle">
        <p class="ppodnaslov">Logotype</p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-12 ena">
                <img  class="img-responsive" src="/assets/pictures/GaWD_logos_and_cards/IuStart/IUStartProgress.jpg" alt="Logo Ideas">
            </div>

        </div>

    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-6 ena">
                <img  class="img-responsive" src="/assets/pictures/GaWD_logos_and_cards/IuStart/IUStartBarve.jpg" alt="Logo Colour Suggestions">
            </div>

            <div class="col-sm-6 dva">
                <p>IuStart was a small startup company from Ljubljana. It was founded by law students that wanted to help new businesses with
                    legal matters.
                </p>
                <p class="tightparagraph">I designed a logotype. Pictures on top show progress and development of the logo while consulting with
                the customer. The logo below is the final one. </p>
                <br>
                <center><img class="img-responsive iuslogo logo" src="/assets/pictures/GaWD_logos_and_cards/IuStart/IUStartLogoKoncni.png" alt="Final Logo"></center>
            </div>

        </div>

    </div>
    <br>
    <div class="container ptitle">
        <p class="ppodnaslov2">Business Card</p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-6 ena">
                <p class="tightparagraph"></p>
                <p>In the pictures on the right are some suggestions for the business cards. The customer wanted something clean and simple.
                In the end we agreed upon a two-sided card with a slogan in the back. </p>
                <br>
                <br>
                <center><img class="img-responsive" src="/assets/pictures/GaWD_logos_and_cards/IuStart/IUStartVizitkaKoncna.jpg" alt="Final Card"></center>
            </div>

            <div class="col-sm-6 dva">
                <img  class="img-responsive" src="/assets/pictures/GaWD_logos_and_cards/IuStart/IUStartVizitka.jpg" alt="Business Card Suggestions">
            </div>

        </div>

    </div>

    <div class="container portfoliotitlefirst2 ptitle">
        <p class="pnaslov">DESIGNER BUSINESS CARD</p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-3 ena">
                <p>In the pictures on the right are some colour variations of a business card I designed for myself. </p>
                <br>
                <p>Logotype is made from my initials, all the important information is included in the logo itself. </p>
            </div>

            <div class="col-sm-9 dva">
                <img  class="img-responsive" src="/assets/pictures/GaWD_logos_and_cards/DesignerBusinessCard/DCard.jpg" alt="Business Card Suggestions">
            </div>

        </div>

    </div>

    <div class="container portfoliotitlefirst2 ptitle">
        <p class="pnaslov">INSTO</p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-12 ena">
                <img  class="img-responsive" src="/assets/pictures/GaWD_logos_and_cards/Insto/InstoLogos.jpg" alt="Logo Suggestions">
            </div>

        </div>

    </div>

    <div class="container galleryopis">
        <p>Insto was a new company from Ljubljana specializing in construction and engineering consulting. The customer was clear on what they expect from the
        logo. They had an idea of it including a ruler or some kind of engineering equipment. Through consultations we came to an agreement of
        the logo with a house as well. It went from simple outline to a more complex, modern object upon the customer's wish.</p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-12 ena">
                <img  class="img-responsive" src="/assets/pictures/GaWD_logos_and_cards/Insto/InstoLogos2.jpg" alt="Logo Suggestions">
            </div>

        </div>

    </div>

    <div class="container portfoliotitlefirst2 ptitle">
        <p class="pnaslov">STITCH MASTER</p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-6 ena">
                <img  class="img-responsive" src="/assets/pictures/GaWD_logos_and_cards/Stitchmaster/StitchmasterDrawings.jpg" alt="Sketches">
            </div>

            <div class="col-sm-1 ena">
            </div>

            <div class="col-sm-5 dva">
                <p>Stitch Master is a tailoring service based in Edinburgh. I worked in a group of interns designing a web page and a new
                look for the shop. I was in charge of the logo design.</p>
                <br>
                <p>On the left side are my first ideas and sketches. In the group and consulting with the customer we came to an agreement
                for the logotype to be a simple one, only including the name and a needle.</p>
                <br>
                <p>In the picture below I showed the progress and some ideas from that decision on.</p>
                <br>
                <p>The customer picked this one: </p>
                <br>
                <br>
                <br>
                <center><img class="img-responsive logo" src="/assets/pictures/GaWD_logos_and_cards/Stitchmaster/StitchmasterLogo.png" alt="Final Logo"></center>
            </div>

        </div>

    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-12 ena">
                <img  class="img-responsive" src="/assets/pictures/GaWD_logos_and_cards/Stitchmaster/StitchmasterLogos.jpg" alt="Logo Suggestions">
            </div>

        </div>

    </div>

        <div class="container portfoliotitlefirst2 ptitle">
        <p class="pnaslov">CV DESIGN</p>
    </div>

    <div class="container galleryopis">
        <p>Through the years I was asked for help with designing CVs for some friends. Here are some samples that were used by people
            working in business, law and medicine:
        </p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-12 ena">
                <img  class="img-responsive" src="/assets/pictures/GaWD_CV_poster/CVsamples.jpg" alt="CV samples">
            </div>

        </div>

    </div>

    <div class="container galleryopis">
        <p>In the picture below is the first draft for my own CV. After asking around for opinions I decided to be read from top to bottom
            instead. This is the <a href="/cv">link</a> to my CV.</p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-12 ena">
                <img  class="img-responsive" src="/assets/pictures/GaWD_CV_poster/CVmojca.jpg" alt="My CV">
            </div>

        </div>

    </div>

    <div class="container portfoliotitlefirst2 ptitle">
        <p class="pnaslov">MSKA POSTER</p>
    </div>

    <div class="container galleryopis">
        <p>All through uni I was a part of an University Karate Club. Since it was a non profit organization we did all ourselves.
        Below are some of my suggestions for the new poster for advertising in schools and student accommodation. </p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-12 ena">
                <img  class="img-responsive" src="/assets/pictures/GaWD_CV_poster/PlakatSample.jpg" alt="Poster samples">
            </div>

        </div>

    </div>


    <div class="container backbutton">
        <div class="row">
            <div class="col-sm-5">
            </div>
            <div class="col-xs-1 ena">
                <button type="button" class="btn btn-default btn-md"><a href="/portfolio">Back</a> </button>
            </div>
            <div class="col-xs-1 dva">
                <button type="button" class="btn btn-default btn-md"><a href="/graphic">Top</a> </button>
            </div>
        </div>
    </div>

<!--FOOTER-->
    <footer class="page-row">
        <div class="navbar navbar-default footer-custom">
            <p class="pull-left navbar-sign">designed by: Mojca Franic</p>

            <div align="right" class="icon container">
                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-3">
                        <a href="https://uk.linkedin.com/in/mojcafranic" target="_blank"><img src="/assets/pictures/linkedin.png"></a>
                        </div>
                        <div class="col-sm-3">
                        <a href="https://github.com/MojcaFranic" target="_blank"><img src="/assets/pictures/github.png"></a>
                        </div>
                        <div class="col-sm-3">
                        <a href="https://www.instagram.com/mojcaf/" target="_blank"><img src="/assets/pictures/instagram.png"></a>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </footer>


</body>

</html>