<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MojcasSpace/portfolio/HomeForTheElderly</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <script src="/assets/js/jquery-1.11.2.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
</head>

<body>

<!--NAVBAR-->
    <header class="page-row">
        <div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
            <div class="container">
                <div class="navbar-brand logo-container"><a href="/"><img class="img-responsive logo-custom" alt="MojcasSpace" src="/assets/pictures/logo_b.png"></a></div>

                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse navHeaderCollapse">
                    <ul class="nav navbar-nav navbar-right navbar-text nav-fade">
                        <li><a href="/">Home</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/cv">CV</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

<!--GALLERY-->

    <div class="container portfoliotitlefirst ptitle">
        <p class="pnaslov">HOME FOR THE ELDERLY</p>
    </div>

    <div class="container galleryopis">
        <p>In this idea project I designed a suggestion for a home for the elderly. I imagined units, that can be connected together
        as needed. One unit has 8 sides and reminds of a flower in blueprint. One unit has:</p>
        <p class="tightparagraph">- central part with communal area including reception, kitchen, dining room, relaxation/socializing areas and toilets,</p>
        <p class="tightparagraph">- staff area and nursing bathroom,</p>
        <p class="tightparagraph">- utility,</p>
        <p class="tightparagraph">- 12 rooms; 10 single and 2 twin.</p>
        <p class="tightparagraph">2 or 4 rooms have a joint terrace. 2 rooms share a wardrobe/storage space on the hallway connecting them. In the center there is a
            big communal kitchen with dining room and enough sitting space where people can read books, watch TV, socialize with other inhabitants
        or families that visit.</p>
        <p class="tightparagraph">Central part is covered with a glass roof, so there is always enough daylight. Equipment is made of wood,
            bleached oak. Details in green colour bring some freshness to the space.</p>

    </div>

    <div class=" container gallery">
        <div class="row">

            <div class="col-sm-12 ena">
                <img  class="img-responsive" src="/assets/pictures/CD_elderlyhome/HomeTloris.jpg" alt="Blueprint">
            </div>

        </div>
    </div>

    <div class="container galleryopis">
        <p>Unit can be a single object, serving a small community or joint together with others. That way some of them (the central
        one for example) can serve as functional part, joining residential ones together. By providing services as gym for physiotherapy,
        doctors offices, hairdressers, small shop and coffee shop, inhabitants have all they need in reach. My idea how to use space
        in the hallways that connect units is to arrange a sort of a green house where inhabitants could grow their own herbs, vegetables and
            flowers.</p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-12 ena">
                <img  class="img-responsive" src="/assets/pictures/CD_elderlyhome/HomePovezave.jpg" alt="Connecting through comunnity">
            </div>

        </div>

    </div>

    <div class="container galleryopis">
        <p>In the pictures below I showed how communal spaces, rooms and porches would look like:</p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-6 ena">
                <img  class="img-responsive" src="/assets/pictures/CD_elderlyhome/HomeFoto1.jpg" alt="Perspective 1">
            </div>

            <div class="col-sm-6 dva">
                <img  class="img-responsive" src="/assets/pictures/CD_elderlyhome/HomeFoto2.jpg" alt="Perspective 2">
            </div>

        </div>

        <div class="row row2">

            <div class="col-sm-6 ena">
                <img  class="img-responsive" src="/assets/pictures/CD_elderlyhome/HomeFoto3.jpg" alt="Perspective 3">
            </div>

            <div class="col-sm-6 dva">
                <img  class="img-responsive" src="/assets/pictures/CD_elderlyhome/HomeFoto4.jpg" alt="Perspective 4">
            </div>
        </div>

        <div class="row row2">

            <div class="col-sm-6 ena">
                <img  class="img-responsive" src="/assets/pictures/CD_elderlyhome/HomeFoto5.jpg" alt="Perspective 5">
            </div>

            <div class="col-sm-6 dva">
                <img  class="img-responsive" src="/assets/pictures/CD_elderlyhome/HomeFoto6.jpg" alt="Perspective 6">
            </div>
        </div>

        <div class="row row2">

            <div class="col-sm-6 ena">
                <img  class="img-responsive" src="/assets/pictures/CD_elderlyhome/HomeFoto7.jpg" alt="Perspective 7">
            </div>

            <div class="col-sm-6 dva">
                <img  class="img-responsive" src="/assets/pictures/CD_elderlyhome/HomeFoto8.jpg" alt="Perspective 8">
            </div>

        </div>

        <div class="row row2">

            <div class="col-sm-3 ena">
            </div>

            <div class="col-sm-6 dva">
                <img  class="img-responsive" src="/assets/pictures/CD_elderlyhome/HomeFoto9.jpg" alt="Perspective 9">
            </div>
        </div>

    </div>



    <div class="container backbutton">
        <div class="row">
            <div class="col-sm-5">
            </div>
            <div class="col-xs-1 ena">
                <button type="button" class="btn btn-default btn-md"><a href="/portfolio">Back</a> </button>
            </div>
            <div class="col-xs-1 dva">
                <button type="button" class="btn btn-default btn-md"><a href="/home">Top</a> </button>
            </div>
        </div>
    </div>

<!--FOOTER-->
    <footer class="page-row">
        <div class="navbar navbar-default footer-custom">
            <p class="pull-left navbar-sign">designed by: Mojca Franic</p>

            <div align="right" class="icon container">
                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-3">
                        <a href="https://uk.linkedin.com/in/mojcafranic" target="_blank"><img src="/assets/pictures/linkedin.png"></a>
                        </div>
                        <div class="col-sm-3">
                        <a href="https://github.com/MojcaFranic" target="_blank"><img src="/assets/pictures/github.png"></a>
                        </div>
                        <div class="col-sm-3">
                        <a href="https://www.instagram.com/mojcaf/" target="_blank"><img src="/assets/pictures/instagram.png"></a>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </footer>


</body>

</html>



