<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MojcasSpace/portfolio/Lily</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <script src="/assets/js/jquery-1.11.2.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
</head>

<body>

<!--NAVBAR-->
    <header class="page-row">
        <div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
            <div class="container">
                <div class="navbar-brand logo-container"><a href="/"><img class="img-responsive logo-custom" alt="MojcasSpace" src="/assets/pictures/logo_b.png"></a></div>

                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse navHeaderCollapse">
                    <ul class="nav navbar-nav navbar-right navbar-text nav-fade">
                        <li><a href="/">Home</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/cv">CV</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </header>

<!--GALLERY-->

    <div class="container portfoliotitlefirst ptitle">
        <p class="pnaslov">LILY</p>
    </div>

    <div class="container ptitle">
        <p class="ppodnaslov">Ambiental Light</p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-6 ena">
                <img  class="img-responsive" src="/assets/pictures/FaOD_Lily/LilySlika1.jpg" alt="Photo1">
            </div>

            <div class="col-sm-6 dva">
                <p>Lily was a part of a redesign group project in second year of interior design studies. It was a connection between "materials and
                development of interior design" studio and wood treatment course.</p>
                <br>
                <p>We got unused parts of chairs that were not being produced anymore. The task was to come up with an idea to use them
                in an object with different purpose.</p>
                <br>
                <p>We picked bended wood parts and started to assemble them together. They reminded us of a flower petals so we decided to
                put them in a group to form a flower. First we had to brush the wood so the pieces fit together. We treated the wood with a
                    high gloss coat of white water-based wood paint. After it dried we glued them together and for the first model we used
                christmas lights inside the "petals".</p>
            </div>

        </div>

    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-4 ena">
                <img  class="img-responsive" src="/assets/pictures/FaOD_Lily/LilySlika2.jpg" alt="Photo 2">
            </div>

            <div class="col-sm-4 dva">
                <img  class="img-responsive" src="/assets/pictures/FaOD_Lily/LilySlika3.jpg" alt="Photo 3">
            </div>

            <div class="col-sm-4 tri">
                <img  class="img-responsive" src="/assets/pictures/FaOD_Lily/LilySlika4.jpg" alt="Photo 4">
            </div>
        </div>

        <div class="row row2">

            <div class="col-sm-4 ena">
                <img  class="img-responsive" src="/assets/pictures/FaOD_Lily/LilySlika5.jpg" alt="Photo 5">
            </div>

            <div class="col-sm-4 dva">
                <img  class="img-responsive" src="/assets/pictures/FaOD_Lily/LilySlika6.jpg" alt="Photo 6">
            </div>

            <div class="col-sm-4 tri">
                <img  class="img-responsive" src="/assets/pictures/FaOD_Lily/LilySlika7.jpg" alt="Photo 7">
            </div>
        </div>

    </div>

    <div class="container backbutton">
        <div class="row">
            <div class="col-sm-5">
            </div>
            <div class="col-xs-1 ena">
                <button type="button" class="btn btn-default btn-md"><a href="/portfolio">Back</a> </button>
            </div>
            <div class="col-xs-1 dva">
                <button type="button" class="btn btn-default btn-md"><a href="/lily">Top</a> </button>
            </div>
        </div>
    </div>

<!--FOOTER-->
    <footer class="page-row">
        <div class="navbar navbar-default footer-custom">
            <p class="pull-left navbar-sign">designed by: Mojca Franic</p>

            <div align="right" class="icon container">
                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-3">
                        <a href="https://uk.linkedin.com/in/mojcafranic" target="_blank"><img src="/assets/pictures/linkedin.png"></a>
                        </div>
                        <div class="col-sm-3">
                        <a href="https://github.com/MojcaFranic" target="_blank"><img src="/assets/pictures/github.png"></a>
                        </div>
                        <div class="col-sm-3">
                        <a href="https://www.instagram.com/mojcaf/" target="_blank"><img src="/assets/pictures/instagram.png"></a>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </footer>


</body>

</html>