<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MojcasSpace/portfolio/Other</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <script src="/assets/js/jquery-1.11.2.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
</head>

<body>

<!--NAVBAR-->
    <header class="page-row">
        <div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
            <div class="container">
                <div class="navbar-brand logo-container"><a href="/"><img class="img-responsive logo-custom" alt="MojcasSpace" src="/assets/pictures/logo_b.png"></a></div>

                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse navHeaderCollapse">
                    <ul class="nav navbar-nav navbar-right navbar-text nav-fade">
                        <li><a href="/">Home</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/cv">CV</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </header>

<!--GALLERY-->

    <div class="container portfoliotitlefirst ptitle">
        <p class="pnaslov">TECHNICAL DRAWINGS</p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-1 ena">
            </div>
            <div class="col-sm-10 ena">
                <div class="row">
                    <div class="col-sm-4 ena">
                        <img  class="img-responsive" src="/assets/pictures/GaWD_drawings/Drawing4.jpg" alt="Drawing 1">
                    </div>
                    <div class="col-sm-4 dva">
                        <img  class="img-responsive" src="/assets/pictures/GaWD_drawings/Drawing5.jpg" alt="Drawing 2">
                    </div>
                    <div class="col-sm-4 tri">
                        <img  class="img-responsive" src="/assets/pictures/GaWD_drawings/Drawing6.jpg" alt="Drawing 3">
                    </div>
                </div>
            </div>


        </div>


        <div class="row row2">

            <div class="col-sm-4 ena">
                <img  class="img-responsive" src="/assets/pictures/GaWD_drawings/Drawing1.jpg" alt="Drawing 4">
            </div>
            <div class="col-sm-4 dva">
                <img  class="img-responsive" src="/assets/pictures/GaWD_drawings/Drawing2.jpg" alt="Drawing 5">
            </div>
            <div class="col-sm-4 tri">
                <img  class="img-responsive" src="/assets/pictures/GaWD_drawings/Drawing3.jpg" alt="Drawing 6">
            </div>

        </div>

    </div>

    <div class="container portfoliotitlefirst2 ptitle">
        <p class="pnaslov">VISUAL LANGUAGE AND COLOUR STUDY</p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-4 ena">
                <img  class="img-responsive" src="/assets/pictures/GaWD_drawings/Picture3.jpg" alt=" 1">
            </div>
            <div class="col-sm-4 dva">
                <img  class="img-responsive" src="/assets/pictures/GaWD_drawings/Picture4.jpg" alt="Picture 2">
            </div>
            <div class="col-sm-4 tri">
                <img  class="img-responsive" src="/assets/pictures/GaWD_drawings/Picture5.jpg" alt="Picture 3">
            </div>

        </div>


        <div class="row row2">

            <div class="col-sm-4 ena">
                <img  class="img-responsive" src="/assets/pictures/GaWD_drawings/Picture2.jpg" alt="Picture 4">
            </div>
            <div class="col-sm-4 dva">
                <img  class="img-responsive" src="/assets/pictures/GaWD_drawings/Picture7.jpg" alt="Picture 5">
            </div>
            <div class="col-sm-4 tri">
                <img  class="img-responsive" src="/assets/pictures/GaWD_drawings/Picture8.jpg" alt="Picture 6">
            </div>

        </div>

        <div class="row row2">

            <div class="col-sm-4 ena">
                <img  class="img-responsive" src="/assets/pictures/GaWD_drawings/Picture6.jpg" alt="Picture 7">
            </div>
            <div class="col-sm-4 dva">
                <img  class="img-responsive" src="/assets/pictures/GaWD_drawings/Picture9.jpg" alt="Drawing 8">
            </div>
            <div class="col-sm-4 tri">
                <img  class="img-responsive" src="/assets/pictures/GaWD_drawings/Picture10.jpg" alt="Drawing 9">
            </div>

        </div>

    </div>

    <div class="container portfoliotitlefirst2 ptitle">
        <p class="pnaslov">PORTRET AND FIGURE</p>
    </div>


    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-6 ena">
                <img  class="img-responsive" src="/assets/pictures/GaWD_drawings/Portret1.jpg" alt="Portret 1">
            </div>
            <div class="col-sm-6 dva">
                <img  class="img-responsive" src="/assets/pictures/GaWD_drawings/Portret2.jpg" alt="Portret 2">
            </div>


        </div>


        <div class="row row2">

            <div class="col-sm-6 ena">
                <img  class="img-responsive" src="/assets/pictures/GaWD_drawings/Figura1.jpg" alt="Figure 1">
            </div>
            <div class="col-sm-6 dva">
                <img  class="img-responsive" src="/assets/pictures/GaWD_drawings/Figura2.jpg" alt="Figure 5">
            </div>
        </div>

    </div>

    <div class="container portfoliotitlefirst2 ptitle">
        <p class="pnaslov">JUST FOR FUN</p>
    </div>

    <div class="container galleryopis">
        <p>Here are some of the projects I couldn't include anywhere else and the ones I did in my free time. </p>
    </div>

    <div class=" container gallery">

        <div class="row">
            <div class="col-sm-1 ena">
            </div>
            <div class="col-sm-4 ena">
                <br>
                <br>
                <img  class="img-responsive" src="/assets/pictures/GaWD_drawings/Object1.jpg" alt="Ready-made object">
                <p>Ready-made object from first years "Creativity" course.</p>
            </div>

            <div class="col-sm-1 ena">
            </div>

            <div class="col-sm-6 dva">
                <p>One summer I decided to give my Holland city bike a makeover. I call him Pink Panther.</p>
                <img  class="img-responsive" src="/assets/pictures/GaWD_drawings/Bike.jpg" alt="Ready-made object">
            </div>

        </div>

    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-6 ena">
                <p>When I thought the wall in study room looked a bit boring:</p>
                <img  class="img-responsive" src="/assets/pictures/GaWD_drawings/Wallart1.jpg" alt="Ready-made object">

            </div>



            <div class="col-sm-6 dva">
                <p>This is how land sharks stay dry and warm:</p>
                <img  class="img-responsive" src="/assets/pictures/GaWD_drawings/Sharky.jpg" alt="Ready-made object">
            </div>

        </div>

    </div>

    <div class="container backbutton">
        <div class="row">
            <div class="col-sm-5">
            </div>
            <div class="col-xs-1 ena">
                <button type="button" class="btn btn-default btn-md"><a href="/portfolio">Back</a> </button>
            </div>
            <div class="col-xs-1 dva">
                <button type="button" class="btn btn-default btn-md"><a href="/other">Top</a> </button>
            </div>
        </div>
    </div>

<!--FOOTER-->
    <footer class="page-row">
        <div class="navbar navbar-default footer-custom">
            <p class="pull-left navbar-sign">designed by: Mojca Franic</p>

            <div align="right" class="icon container">
                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-3">
                        <a href="https://uk.linkedin.com/in/mojcafranic" target="_blank"><img src="/assets/pictures/linkedin.png"></a>
                        </div>
                        <div class="col-sm-3">
                        <a href="https://github.com/MojcaFranic" target="_blank"><img src="/assets/pictures/github.png"></a>
                        </div>
                        <div class="col-sm-3">
                        <a href="https://www.instagram.com/mojcaf/" target="_blank"><img src="/assets/pictures/instagram.png"></a>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </footer>


</body>

</html>