<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MojcasSpace/portfolio</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <script src="/assets/js/jquery-1.11.2.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
</head>
    




<!--BODY-->
    <body>

    <!--NAVBAR-->
    <header class="page-row">
        <div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
            <div class="container">
                <div class="navbar-brand logo-container"><a href="/"><img class="img-responsive logo-custom" alt="MojcasSpace" src="/assets/pictures/logo_b.png"></a></div>

                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse navHeaderCollapse">
                    <ul class="nav navbar-nav navbar-right navbar-text nav-fade">
                        <li><a href="/">Home</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/cv">CV</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </header>

    <!--NASLOV KATEGORIJE 1-->

        <div class="container portfoliotitlefirst ptitle">
            <p class="pnaslov"> INTERIOR DESIGN</p>
        </div>


        <div class="container portfolio-table">                     <!--PORTFOLIO TABLE ID-->


            <div class="row">                                       <!--INTERIOR DESIGN ROW 1-->
                <div class="col-sm-6 left hovereffect">
                    <img class="img-responsive" src="/assets/pictures/ID_dnevna/DnevnaCover.jpg" alt="LIVING ROOM REFURBISHMENT">
                    <div class="overlay">
                        <h2>LIVING ROOM REFURBISHMENT</h2>
                        <a class="info" href="/livingroom">Gallery</a>
                     </div>
                </div>

                <div class="col-sm-6 right hovereffect">
                    <img class="img-responsive" src="/assets/pictures/ID_kopalnica/KopalnicaCover.jpg" alt="BATHROOM REFURBISHMENT">
                    <div class="overlay">
                        <h2>BATHROOM REFURBISHMENT</h2>
                        <p></p>
                        <a class="info" href="/bathroom">Gallery</a>
                     </div>
                </div>
            </div>



            <div class="row">                                   <!--INTERIOR DESIGN ROW 2-->
                <div class="col-sm-6 left hovereffect">
                    <img class="img-responsive" src="/assets/pictures/ID_furspray/FursprayCover.jpg" alt="FUSPRAY DOG GROOMING SALON">
                    <div class="overlay">
                        <h2>FURSPRAY</h2>
                        <h4>Dog grooming salon</h4>
                        <p></p>
                        <a class="info" href="/furspray">Gallery</a>
                     </div>
                </div>

                <div class="col-sm-6 right hovereffect">
                    <img class="img-responsive" src="/assets/pictures/ID_Art/ArtCover.jpg" alt="ART SHOP">
                    <div class="overlay">
                        <h2>ART SHOP</h2>
                        <p></p>
                        <a class="info" href="/artshop">Gallery</a>
                     </div>
                </div>
            </div>


            <div class="row">                                   <!--INTERIOR DESIGN ROW 3-->
                <div class="col-sm-6 left hovereffect">
                    <img class="img-responsive" src="/assets/pictures/ID_bar/BarCover.jpg" alt="A-ROUND BAR">
                    <div class="overlay">
                        <h2>A-ROUND BAR</h2>
                        <p></p>
                        <a class="info" href="/bar">Gallery</a>
                     </div>
                </div>
            </div>

        </div>                                                  <!--PORTFOLIO TABLE ID CLOSE-->


    <!--NASLOV KATEGORIJE 2-->

        <div class="container portfoliotitle ptitle">
            <p class="pnaslov"> CONCEPTUAL DESIGN</p>
        </div>

         <div class="container portfolio-table">                     <!--PORTFOLIO TABLE CD-->


            <div class="row">                                       <!--CONCEPTUAL DESIGN ROW 1-->
                <div class="col-sm-6 left hovereffect">
                    <img class="img-responsive" src=/assets/pictures/CD_egg/JajceCover.jpg alt="LIVING IN AN EGG">
                    <div class="overlay">
                        <h2>LIVING IN AN EGG</h2>
                        <a class="info" href="/jajce">Gallery</a>
                     </div>
                </div>

                <div class="col-sm-6 right hovereffect">
                    <img class="img-responsive" src=/assets/pictures/CD_summerhouse/ZacasnoCover.jpg alt="SUMMER HOUSE IN THE MOUNTAINS">
                    <div class="overlay">
                        <h2>SUMMER HOUSE IN THE MOUNTAINS</h2>
                        <p></p>
                        <a class="info" href="/zacasno">Gallery</a>
                     </div>
                </div>
            </div>



            <div class="row">                                   <!--CONCEPTUAL DESIGN ROW 2-->
                <div class="col-sm-6 left hovereffect">
                    <img class="img-responsive" src=/assets/pictures/CD_sporthotel/HotelCover.jpg alt="SPORT2 - SPORT HOTEL">
                    <div class="overlay">
                        <h2>ŠPORT<sup>2</sup></h2>
                        <h4>Sport Hotel</h4>
                        <p></p>
                        <a class="info" href="/hotel">Gallery</a>
                     </div>
                </div>

                <div class="col-sm-6 right hovereffect">
                    <img class="img-responsive" src=/assets/pictures/CD_elderlyhome/HomeCover.jpg alt="HOME FOR THE ELDERLY">
                    <div class="overlay">
                        <h2>HOME FOR THE ELDERLY</h2>
                        <p></p>
                        <a class="info" href="/home">Gallery</a>
                     </div>
                </div>
            </div>


            <div class="row">                                   <!--CONCEPTUAL DESIGN ROW 3-->
                <div class="col-sm-6 left hovereffect">
                    <img class="img-responsive" src=/assets/pictures/CD_diploma/DiplomaCover.jpg alt="DIPLOMA">
                    <div class="overlay">
                        <h2>TEMPORARY MODULAR UNIT IN CASE OF NATURAL DISASTER</h2>
                        <h4>Diploma; Final Thesis</h4>
                        <a class="info" href="/diploma">Gallery</a>
                     </div>
                </div>
            </div>

        </div>                                                  <!--PORTFOLIO TABLE CD CLOSE-->


    <!--NASLOV KATEGORIJE 3-->

        <div class="container portfoliotitle ptitle">
            <p class="pnaslov"> FURNITURE & OBJECT DESIGN</p>
        </div>

        <div class="container portfolio-table">                     <!--PORTFOLIO TABLE FaOD-->


            <div class="row">                                       <!--FURNITURE AND OBJECT DESIGN ROW 1-->
                <div class="col-sm-6 left hovereffect">
                    <img class="img-responsive" src=/assets/pictures/FaOD_Lily/LilyCover.jpg alt="AMBIENT LIGHT 'LILY'">
                    <div class="overlay">
                        <h2>LILY</h2>
                        <h4>Ambiental Light</h4>
                        <a class="info" href="/lily">Gallery</a>
                     </div>
                </div>

                <div class="col-sm-6 right hovereffect">
                    <img class="img-responsive" src=/assets/pictures/FaOD_Qubik/QUbikCover.jpg alt="QUBIK SHELVING UNIT">
                    <div class="overlay">
                        <h2>QUBIK</h2>
                        <h4>Shelving Unit</h4>
                        <p></p>
                        <a class="info" href="/qubik">Gallery</a>
                     </div>
                </div>
            </div>



            <div class="row">                                   <!--FURNITURE AND OBJECT DESIGN ROW 2-->

                <div class="col-sm-6 left hovereffect">
                    <img class="img-responsive" src=/assets/pictures/FaOD_clubtable/ClubtableCover.jpg alt="WOODEN CLUB TABLE">
                    <div class="overlay">
                        <h2>WOODEN CLUB TABLE</h2>
                        <p></p>
                        <a class="info" href="/clubtable">Gallery</a>
                     </div>
                </div>

                <div class="col-sm-6 right hovereffect">
                    <img class="img-responsive" src=/assets/pictures/FaOD_nightstand/NigstandCover.jpg alt="MULTIPURPOSE NIGHT STAND">
                    <div class="overlay">
                        <h2>MULTIPURPOSE NIGHTSTAND</h2>
                        <p></p>
                        <a class="info" href="/nightstand">Gallery</a>
                     </div>
                </div>
            </div>

        </div>                                                  <!--PORTFOLIO TABLE FaOD CLOSE-->

    <!--NASLOV KATEGORIJE 4-->

        <div class="container portfoliotitle ptitle">
            <p class="pnaslov"> GRAPHIC & WEB DESIGN</p>
        </div>
    
    
        <div class="container portfolio-table">                                 <!--PORTFOLIO TABLE GaWD-->
            <div class="row">
                <div class="col-sm-4 ena hovereffect-small">
                    <img class="img-responsive" src="/assets/pictures/GaWD_logos_and_cards/LogoCover.jpg" alt="GRAPHIC DESIGN">
                    <div class="overlay-small">
                        <h2>GRAPHIC DESIGN</h2>
                        <a class="info" href="/graphic">Gallery</a>
                    </div>
                </div>

                <div class="col-sm-4 dva hovereffect-small">
                    <img class="img-responsive" src="/assets/pictures/GaWD_web/WebCover.jpg" alt="WEB DESIGN">
                    <div class="overlay-small">
                        <h2>WEB DESIGN</h2>
                        <a class="info" href="/web">Gallery</a>
                    </div>
                </div>

                <div class="col-sm-4 ena hovereffect-small">
                    <img class="img-responsive" src="/assets/pictures/GaWD_drawings/DrawingsCover.jpg" alt="DRAWINGS and OTHER PROJECTS">
                    <div class="overlay-small">
                        <h2>DRAWINGS and OTHER PROJECTS</h2>
                        <a class="info" href="/other">Gallery</a>
                    </div>
                </div>
            </div>
        </div><!--PORTFOLIO TABLE GaWD CLOSE-->

    <footer class="page-row">
        <div class="navbar navbar-default footer-custom">
            <p class="pull-left navbar-sign">designed by: Mojca Franic</p>

            <div align="right" class="icon container">
                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-3">
                        <a href="https://uk.linkedin.com/in/mojcafranic" target="_blank"><img src="/assets/pictures/linkedin.png"></a>
                        </div>
                        <div class="col-sm-3">
                        <a href="https://github.com/MojcaFranic" target="_blank"><img src="/assets/pictures/github.png"></a>
                        </div>
                        <div class="col-sm-3">
                        <a href="https://www.instagram.com/mojcaf/" target="_blank"><img src="/assets/pictures/instagram.png"></a>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </footer>

    </body>



</html>

<!--FOOTER-->



