<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MojcasSpace/portfolio/WebDesign</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <script src="/assets/js/jquery-1.11.2.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
</head>

<body>

<!--NAVBAR-->
    <header class="page-row">
        <div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
            <div class="container">
                <div class="navbar-brand logo-container"><a href="/"><img class="img-responsive logo-custom" alt="MojcasSpace" src="/assets/pictures/logo_b.png"></a></div>

                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse navHeaderCollapse">
                    <ul class="nav navbar-nav navbar-right navbar-text nav-fade">
                        <li><a href="/">Home</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/cv">CV</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </header>

<!--GALLERY-->

    <div class="container portfoliotitlefirst ptitle">
        <p class="pnaslov">MojcasSpace</p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-4 ena">
                <img  class="img-responsive" src="/assets/pictures/GaWD_web/MojcasSpace/MojcasSpaceLogo2.jpg" alt="Logo">
            </div>

            <div class="col-sm-1 ena">
            </div>

            <div class="col-sm-6 dva">
                <br>
                <br>
                <br>
               
                <p>The website you are currently browsing through, doubling as my portfolio, was designed by me. As most of the sites have a
                header I created one for myself. Because it looked a little bit empty and I had a perfect picture just waiting for me to play with,
                I started by creating a logotype. The picture was of my cat Tyson and to be honest it had to be done at one point, since the little
                    weirdo is pretty awesome. Him being black, I did not succeed in taking a good photograph of him and all the picture credits go to
                my former flatmate Doris Špeh.</p>
                <br>
                <p>Creating the website, I wrote the code in html with a little help of Bootstrap.
                <br>You can view the code by clicking on <a href="">this</a> link.</p>
            </div>

        </div>

    </div>

    <div class="container portfoliotitlefirst2 ptitle">
        <p class="pnaslov">ARCHITECT'S PORTFOLIO</p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-5 dva">
                <br>
                <br>
                <br>
                <br>
                <br>
                <p>The one-page portfolio website was created for a slovenian architect seeking work abroad as well as home. It was kept simple
                    and straight forward upon his wishes. Design is minimalist and in black and white with an aim to appear coherent.
                <br>
                The site is still under construction. The plan is to add a carousel galleries for all of the projects. When finished it will
                be possible to view the page in three languages.</p>
                <br>
                <br>
                <p>You can click <a target="_blank" rel="noopener noreferrer" href="https://portfolio-gorazd-cater.appspot.com/">here</a> to view the page and on
                    <a target="_blank" rel="noopener noreferrer" href="https://github.com/MojcaFranic/gorazdcaterportfolio">this</a> link to see the code.</p>
            </div>

            <div class="col-sm-2 ena">
            </div>

            <div class="col-sm-5 ena">
                <img  class="img-responsive" src="/assets/pictures/GaWD_web/GorazdPortfolio/GorazdWebCover.jpg" alt="Web Page Screenshot">
            </div>

        </div>

    </div>

    <div class="container portfoliotitlefirst2 ptitle">
        <p class="pnaslov">SAMPLE PORTFOLIO</p>
    </div>

    <div class=" container gallery">

        <div class="row">

            <div class="col-sm-12 ena">
                <img  class="img-responsive" src="/assets/pictures/GaWD_web/PortfolioSample/SampleMockup.jpg" alt="Web Page Mockup">
            </div>
        </div>

    </div>

    <div class="container galleryopis">
        <p><a target="_blank" rel="noopener noreferrer" href="https://github.com/MojcaFranic/sampleportfolio">This</a> is
            the link to a code for this sample portfolio site. First page displays 4 categories, which by clicking on the
        picture reveal projects in each of them. Central graphic does not move, projects appear in the same place as the entering category
        one.</p>

    </div>


    <div class="container backbutton">
        <div class="row">
            <div class="col-sm-5">
            </div>
            <div class="col-xs-1 ena">
                <button type="button" class="btn btn-default btn-md"><a href="/portfolio">Back</a> </button>
            </div>
            <div class="col-xs-1 dva">
                <button type="button" class="btn btn-default btn-md"><a href="/web">Top</a> </button>
            </div>
        </div>
    </div>

<!--FOOTER-->
    <footer class="page-row">
        <div class="navbar navbar-default footer-custom">
            <p class="pull-left navbar-sign">designed by: Mojca Franic</p>

            <div align="right" class="icon container">
                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-3">
                        <a href="https://uk.linkedin.com/in/mojcafranic" target="_blank"><img src="/assets/pictures/linkedin.png"></a>
                        </div>
                        <div class="col-sm-3">
                        <a href="https://github.com/MojcaFranic" target="_blank"><img src="/assets/pictures/github.png"></a>
                        </div>
                        <div class="col-sm-3">
                        <a href="https://www.instagram.com/mojcaf/" target="_blank"><img src="/assets/pictures/instagram.png"></a>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </footer>


</body>

</html>